.zf-footer {
  margin: 4rem 0;

  .nav {
    background-color: #f2f2f2;
  }

  .icp-txt {
    line-height: 2;
  }

  .footer-ide {
    a {
      border: 1px solid #ddd;
      padding: 5px 10px;
      margin: 0 5px;
      font-size: 12px;
    }
  }

}