@import "common";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #4d4854;
  background-color: #fff
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

@import "dsfont";

@import "header";
@import "footer";

@import "page/index";
